<header class="header" id="header">
    <nav class="nav-container">
        <a href="#" class="nav-logo">ITA Solutions</a>
        <div class="nav-menu" id="nav-menu">
            <ul class="nav-list">
                <li class="nav-item"><a href="#services" class="nav-link">Services</a></li>
                <li class="nav-item"><a href="#why-us" class="nav-link">Why Us</a></li>
                <li class="nav-item"><a href="#process" class="nav-link">Process</a></li>
                <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
            </ul>
            <div class="nav-close" id="nav-close">
                <i class='bx bx-x'></i>
            </div>
        </div>
        <div class="nav-toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>