<!-- Client Testimonials Section -->
<section id="testimonials" class="section-container">
    <h2 class="reveal">What Our Clients Say</h2>
    
    <!-- Client Logos Slider -->
    <div class="client-logos-container reveal" data-delay="100">
        <div class="client-logos-slider" id="clientLogosSlider">
            <!-- Client logos will be populated by JavaScript -->
        </div>
    </div>
    
    <!-- Client Reviews -->
    <div class="client-reviews-container reveal" data-delay="200">
        <div class="review-slider" id="reviewSlider">
            <!-- Testimonials will be populated by JavaScript -->
        </div>
    </div>
</section>